docs/dify-chatbot-workflow.yml
################################################################################
# Dify Chatbot Workflow - 회의 Q&A 챗봇
# ─────────────────────────────────────────────────────────────────────────────
# 용도: 회의록 컨텍스트를 기반으로 사용자 질문에 답변하는 워크플로우
#
# [Dify 임포트 방법]
# 1. Dify 대시보드 → Studio → "워크플로우 생성" 또는 "DSL 파일 가져오기"
# 2. 이 YAML 파일을 업로드
# 3. LLM 모델 설정 확인 (gpt-4o-mini 또는 사용 가능한 모델로 변경)
# 4. "게시(Publish)" 클릭
# 5. API 키 복사 → .env의 DIFY_CHAT_API_KEY에 설정
################################################################################

app:
  description: "회의록 기반 Q&A 챗봇 워크플로우. 회의 컨텍스트(요약, 대화기록, 결정사항)를 참고하여 사용자 질문에 정확히 답변합니다."
  icon: 🤖
  icon_background: "#E0F2FE"
  mode: workflow
  name: 회의 Q&A 챗봇
  use_icon_as_answer_icon: true

kind: app
version: 0.1.5

workflow:
  conversation_variables: []

  environment_variables: []

  features:
    file_upload:
      image:
        enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    suggested_questions: []
    text_to_speech:
      enabled: false

  graph:
    edges:
      - data:
          sourceType: start
          targetType: llm
        id: start-to-llm
        source: start
        target: llm-node
        type: custom

      - data:
          sourceType: llm
          targetType: end
        id: llm-to-end
        source: llm-node
        target: end-node
        type: custom

    nodes:
      ##########################################################################
      # 시작 노드 - 입력 변수 정의
      # chatService.js에서 전달하는 inputs: { context, question, history }
      ##########################################################################
      - data:
          title: 시작
          type: start
          variables:
            - label: context
              max_length: 100000
              options: []
              required: true
              type: paragraph
              variable: context

            - label: question
              max_length: 2000
              options: []
              required: true
              type: text-input
              variable: question

            - label: history
              max_length: 50000
              options: []
              required: false
              type: paragraph
              variable: history
        height: 118
        id: start
        position:
          x: 80
          y: 282
        type: custom
        width: 244

      ##########################################################################
      # LLM 노드 - 회의 Q&A 답변 생성
      ##########################################################################
      - data:
          title: 회의 Q&A
          type: llm
          model:
            completion_params:
              temperature: 0.3
              top_p: 0.9
              max_tokens: 2048
              frequency_penalty: 0.1
              presence_penalty: 0.1
            mode: chat
            name: gpt-4o-mini
            provider: openai
          prompt_template:
            - id: system-prompt
              role: system
              text: |
                당신은 회의록 전문 AI 어시스턴트입니다.
                주어진 회의 컨텍스트를 기반으로 사용자의 질문에 정확하고 유용하게 답변하세요.

                ## 답변 규칙

                1. **회의 컨텍스트에 있는 정보만** 사용하여 답변하세요.
                2. 컨텍스트에 없는 내용은 "회의 기록에서 해당 정보를 찾을 수 없습니다"라고 솔직하게 안내하세요.
                3. 답변은 **한국어**로 작성하세요.
                4. 핵심 내용을 먼저 말하고, 필요 시 세부사항을 추가하세요.
                5. 여러 항목이 있으면 **번호 리스트**로 정리하세요.
                6. 발화자(화자)가 있으면 "OOO님이 ~라고 말했습니다" 형태로 출처를 밝히세요.
                7. 액션 아이템 관련 질문에는 담당자, 마감일 정보도 포함하세요.
                8. 간결하되 빠뜨리는 정보 없이 답변하세요.

                ## 회의 컨텍스트

                {{#start.context#}}

            - id: user-prompt
              role: user
              text: |
                {{#start.question#}}

          memory:
            enabled: false
            window:
              enabled: false
              size: 10
          vision:
            enabled: false
          context:
            enabled: false
        height: 98
        id: llm-node
        position:
          x: 380
          y: 282
        type: custom
        width: 244

      ##########################################################################
      # 종료 노드 - answer 출력
      # chatService.js에서 outputs.answer를 읽음
      ##########################################################################
      - data:
          title: 종료
          type: end
          outputs:
            - value_selector:
                - llm-node
                - text
              variable: answer
        height: 90
        id: end-node
        position:
          x: 680
          y: 282
        type: custom
        width: 244
